.service {
    position: absolute;
    left: -180px;
    top: 58rem;
    z-index: -1;
    width: 58.6219rem;
    height: 41.9595rem;
    flex-shrink: 0;
    background: url('../../public/Vector.png')no-repeat;
    object-fit: cover;
    background-size: contain;
}
